
{% extends 'base.html.twig' %}

{% block body %}





<div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">No data Now</h6>
                        <a href="#">No data Found</a>
                    </div>
                    <div class="table-responsive">
                 <div class="container mt-4">
    <h2 class="text-center text-white">No data Now</h2>

    <div class="table-container">
       No Data 
    </div>
</div>
 
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->
            {% endblock %}